p {
    color: red;
}

#list-title {
    color: blue;
}

.mains {

    /* top: 50%;
    left: 50%;
    padding-top: 50px; */
    display: flex;
    /* align-items: center;
    justify-content: center; */

}

strong {
    color: black;
}

.css-class {
    color: brown;
    font-size: x-large;
    font-style: italic;
}

/* body{
    padding: 0 20px 20px 20px;
    margin: 0 auto;
    display: block; 
    width: 600px;
    font-family: monospace;
} */

.link-text {
    font-size: 24px;
    color: cornflowerblue;
}
#great-id{
    color:rgb(128, 163, 194);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid black;
    border: 1px solid black;

margin-top: 20px;
    /* border: 1px solid black; */

}

.container2 {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

/* .link-ex{
    border-right:2px 2px solid black;
    
    background-color: whitesmoke;

  } */
.heading-ex,
.text-ex,
.link-ex,
.button-ex {
    background-color: rgb(250, 238, 219);
    /* border-right: 2px solid black;
    border-left: 2px solid black; */
}


table,
tr,
td,
th {
    border: 1px solid black;
}
/* footer{
    display: block;

    float: left;
    width: 100%;
    padding: 0 8px;
    width: 33.33333%


} */

footer {
    text-align: center;
    padding: 2px 1px;
    margin: auto;
    color: #333;
    width: 600px;
}

footer h3 {
    font-size: 24px;
    margin-bottom: 0;
}

footer p a {
    text-decoration: none;
    color: red;
}

#mySidebar{
   
    background-color: #ee9b9b;
    /* position: relative; */
    /* position: fixed !important;
    height: 100vh;
    width: 25vh;
    z-index: 1; */
    overflow: auto;
    color: white;
   
}
#mySidebar li{
    list-style: none;
}
#mySidebar li a{
    text-decoration: none; 
    color: azure;
    font-size: 20px;
   
}


.w3-animate-left {
    position: relative;
    /* animation: animateleft 0.4s */
    animation-name: animateleft ;
    animation-duration: 0.4s;
  
}
@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

 to{
    background-color: gray;
    left: 0;
    opacity: 1;
 }
    
 
}

.iframe-ex{
    margin: 10vh;
    display: flex;
    justify-content: center;
}
#game-Head{
    color: black;
    margin: 5px;
    justify-content: center;
    margin: 10vh;
    display: flex;
   
}




/* *{
    margin: 0;
    padding: 0;
}

.nav{
    width: 310px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    padding-top: 50px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: opacity .5s;
}

.clr{
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    transition: transform .5s;
}
.clr:hover{
    transform: scale(1.2);
}
.clr:nth-child(1){
    background-color: #000;
}
.clr:nth-child(2){
    background-color: #EF626C;
}
.clr:nth-child(3){
    background-color: #fdec03;
}
.clr:nth-child(4){
    background-color: #24d102;
}
.clr:nth-child(5){
    background-color: #fff;
}

button{
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: 3px;
    background-color: #03bb56;
    color: #fff;
    cursor: pointer;
}
.save{
    background-color: #0f65d4;
} */
